# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=shortlink_development
DB_NAME_TEST=shortlink_test

# Redis
REDIS_URL=redis://default:c2e575538bca4a46@localhost:6379/0
REDIS_POOL_SIZE=10
REDIS_POOL_TIMEOUT=3

# Short code obfuscation secret (XOR with DB ID before Base62 encoding)
# Must remain constant — changing it breaks existing short codes
# Use a 32-bit hex value (e.g. openssl rand -hex 4)
# openssl rand -hex 16
SHORTLINK_SECRET=8c3a9bb7c3a162709e40ee6c6ea879e1

# CORS
CORS_ORIGINS=*

# Rails
RAILS_MAX_THREADS=5
RAILS_LOG_LEVEL=info
PORT=11124

# === Production only ===
# REGISTRY_URL=192.168.50.166:5000
# IMAGE_TAG=latest
# SECRET_KEY_BASE=b382ccc8374f35e1b4ac61d07c8cc72fb30541c44d7d1e3863d2e12fe58d11e8657532c7c696c598db74d6685bd12e08b6ae39f2c1c4db58c704c663b1e5131b # openssl rand -hex 64
# FRONTEND_PORT=11123
# REDIS_PASSWORD=c2e575538bca4a46 # openssl rand -hex 8
