# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=shortlink_development
DB_NAME_TEST=shortlink_test

# Redis
REDIS_URL=redis://localhost:6379/0
REDIS_POOL_SIZE=10
REDIS_POOL_TIMEOUT=3

# CORS
CORS_ORIGINS=*

# Rails
RAILS_MAX_THREADS=5
RAILS_LOG_LEVEL=info
PORT=3000
